@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;500;600&display=swap');

body{
    padding: 0px;
    margin: 0px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-image: radial-gradient( hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    width: 100%;
    height: 100%;
    padding: 45px;
}

.scoreboard{
    width: 550px;
    display: flex;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 10px;
    margin-left: 25%;
    align-self: center;
    padding: 20px;
}

.board-left p{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 600;
    padding: 0px;
    margin: -11px 0px 0px 10px;
}

.board-right{
    background-color: #ffffff;
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 25px 0px 43px;
    width: 100px;
    height: 80px;
    border-radius: 10px;
    margin: 0px 0px -5px 50%;
}

.board-right span{
    font-size: 50px;
    font-weight: 700;
    color: hsl(229, 25%, 31%);
}

.board-right p{
    letter-spacing: 2px;
    margin: 0px;
}

.gameboard{
    background-image: url(./assets/bg-triangle.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 430px;
    height: 300px;
    margin: 150px 0px 0px 30%;
    padding-top: 50px;
}

.rock{
    border-radius: 50%;
    border: 20px solid hsl(349, 71%, 52%);
    width: 140px;
    height: 140px;
    background-image: url(./assets/icon-rock.svg);
    background-repeat: no-repeat;
    background-color: ivory;
    background-position: center;
    cursor: pointer;
    box-shadow: -1px 10px  rgb(236, 229, 229) inset, 0px 8px  hsl(349, 70%, 36%);
}

.scissors{
    border-radius: 50%;
    border: 20px solid hsl(39, 89%, 49%);
    width: 140px;
    height: 140px;
    background-image: url(./assets/icon-scissors.svg);
    background-repeat: no-repeat;
    background-color: ivory;
    background-position: center;
    cursor: pointer;
    box-shadow: -1px 10px  rgb(236, 229, 229) inset, 0px 8px  hsl(39, 82%, 35%);
}

.paper{
    border-radius: 50%;
    border: 20px solid hsl(230, 89%, 62%);
    width: 140px;
    height: 140px;
    background-image: url(./assets/icon-paper.svg);
    background-repeat: no-repeat;
    background-color: ivory;
    background-position: center;
    cursor: pointer;
    box-shadow: -1px 10px  rgb(236, 229, 229) inset, 0px 8px  hsl(230, 71%, 41%);
}

.gboard-top{
    display: flex;
    justify-content: space-between;
    margin-top: -20%;
}

.gboard-bottom{
    object-position: center;
    margin: 25px 0px 0px 28%;
}

.rules{
    position: absolute;
    top: 90%;
    right: 2%;
    outline: none;
    width: 130px;
    padding:10px 0px;
    border-radius: 10px;
    border: 2px solid hsl(217, 16%, 45%);
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

@media only screen and (max-width:375px){
    body{
        padding: 0px;
    }

    .app{
        text-align: center;
    }

    .scoreboard{
        display: flex;
        width: 250px;
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: 10px;
        margin: 30px 50px;
        padding: 10px;
    }

    .board-left p{
        color: #ffffff;
        text-transform: uppercase;
        text-align: left;
        font-size: 25px;
        font-weight: 600;
        margin: -11px 0px 0px 10px;
    }
    
    .board-right{
        background-color: #ffffff;
        color: hsl(229, 64%, 46%);
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        width: 70px;
        height: inherit;
        border-radius: 10px;
        margin:0px 0px 0px 60px;
        padding: 10px 0px 0px 0px;
    }
    
    .board-right span{
        font-size: 22px;
        font-weight: 700;
        color: hsl(229, 25%, 31%);
    }
    
    .board-right p{
        letter-spacing: 2px;
        margin: 0px;
    }
    
    .gameboard{
        background-image: url(./assets/bg-triangle.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 270px;
        height: 230px;
        margin: 130px 0px 0px 15%;
        padding-top: 50px;
    }
    
    #rock{
        border-width: 15px;
        width: 100px;
        height: 100px;
        box-shadow: -1px 7px  rgb(236, 229, 229) inset, 0px 5px  hsl(349, 70%, 36%);
    }

    #paper{
        border-width: 15px;
        width: 100px;
        height: 100px;
        box-shadow: -1px 7px  rgb(236, 229, 229) inset, 0px 5px  hsl(230, 71%, 41%);
    }

    #scissors{
        border-width: 15px;
        width: 100px;
        height: 100px;
        box-shadow: -1px 7px  rgb(236, 229, 229) inset, 0px 5px  hsl(39, 82%, 35%);
    }

    
    .gboard-top{
        margin: -32% 0px 0px -20px;
        width: 300px;
    }
    
    .gboard-bottom{
        margin: 20px 0px 0px 25%;
    }
    
    .rules{
        top: 85%;
        right: 33%;
        width: 130px;
        padding:10px 0px;
        font-size: 14px;
        margin-top: 30px;
    }
}

@media only screen and (max-width:414px){
    body{
        padding: 0px;
    }

    .app{
        text-align: center;
    }

    .scoreboard{
        display: flex;
        width: 250px;
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: 10px;
        margin: 30px 70px;
        padding: 10px;
    }

    .board-left p{
        color: #ffffff;
        text-transform: uppercase;
        text-align: left;
        font-size: 25px;
        font-weight: 600;
        margin: -11px 0px 0px 10px;
    }
    
    .board-right{
        background-color: #ffffff;
        color: hsl(229, 64%, 46%);
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        width: 70px;
        height: inherit;
        border-radius: 10px;
        margin:0px 0px 0px 60px;
        padding: 10px 0px 0px 0px;
    }
    
    .board-right span{
        font-size: 22px;
        font-weight: 700;
        color: hsl(229, 25%, 31%);
    }
    
    .board-right p{
        letter-spacing: 2px;
        margin: 0px;
    }
    
    .gameboard{
        background-image: url(./assets/bg-triangle.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 270px;
        height: 190px;
        margin: 130px 0px 0px 19%;
        padding-top: 50px;
    }
    
    #rock{
        border-width: 15px;
        width: 100px;
        height: 100px;
        box-shadow: -1px 7px  rgb(236, 229, 229) inset, 0px 5px  hsl(349, 70%, 36%);
    }

    #paper{
        border-width: 15px;
        width: 100px;
        height: 100px;
        box-shadow: -1px 7px  rgb(236, 229, 229) inset, 0px 5px  hsl(230, 71%, 41%);
    }

    #scissors{
        border-width: 15px;
        width: 100px;
        height: 100px;
        box-shadow: -1px 7px  rgb(236, 229, 229) inset, 0px 5px  hsl(39, 82%, 35%);
    }

    
    .gboard-top{
        margin: -32% 0px 0px -20px;
        width: 300px;
    }
    
    .gboard-bottom{
        margin: 20px 0px 0px 25%;
    }
    
    .rules{
        top: 85%;
        right: 33%;
        width: 130px;
        padding:10px 0px;
        font-size: 14px;
    }
}

@media only screen and (max-width:360px){
    .gameboard{
        margin: 130px 0px 0px 15%;
        padding-top: 30px;
    }

    .rules{
        right: 30%;
    }

    .scoreboard{
        margin: 30px 42px;
        padding: 10px;
    }
}

@media only screen and (max-height:812px){
    .gameboard{
        margin: 130px 0px 0px 15%;
        padding-top: 50px;
    }

    .gboard-bottom{
        margin: 30px 0px 0px 25%;
    }

    /* .rules{
        top: 75%;
        right: 32%;
    } */

    .scoreboard{
        margin: 30px 42px;
        padding: 10px;
    }
}